.order-header{
    margin-top: 70px;
    padding: 30px;
}

.footerclass{
    text-align: center;
    color:rgb(96, 96, 96);
    background-color:#f7f7f7;
    padding: 48px;
    font-size:18px;
    margin:20px;
}